:root {
    --navbar-h: 50px;

    /* --background-color: oklch(14.1% 0.005 285.823); */
    --background-color: oklch(14.5% 0 0);
    --foreground-color: oklch(98.5% 0 0);
    --foreground-gray: oklch(76.039% 0.00009 271.152);

    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

/* GLOBAL */
html, body {
    background-color: var(--background-color);
    background-image: url("./assets/bg.png");
    background-size: cover;
    background-repeat: repeat-y;
    background-position: 0 -100px;
    color: var(--foreground-color);

    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--foreground-color);
}

a:hover {
    filter: brightness(0.7);
}

h1 {
    letter-spacing: 0.1em;
    /* font-weight: 600; */
}

.hide {
    display: none;
}

.show {
    display: block;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 1em;

    width: 38px;
    height: 38px;
    z-index: 49;

    background-color: rgba(0,0,0, 0.8);
    border-radius: 999px;
}

.back-to-top > img {
    width: inherit;
    height: inherit;
    padding: 4px;
}
/* END GLOBAL */

/* NAV */
nav {
    height: var(--navbar-h);
    width: 100%;
    padding: .8em;
    display: flex;
    align-content: center;
}

.container-nav-name {
    display: flex;
    align-items: center;
    gap: 0.4em;
}

.container-nav-name > div {
    width: 10px;
    height: 10px;

    background-color: oklch(66.6% 0.179 58.318);
    border-radius: 999px;
}

.nav-name {
    font-weight: thin;

    letter-spacing: .05em;
}

.nav-links {
    display: flex;

    margin-left: auto;
    gap: 2em;
}

.nav-links > a {
    color: var(--foreground-gray);
}

.nav-links > a:hover, .nav-links > a:active {
    color: var(--foreground-color);
    filter: drop-shadow(0 0 5px  var(--foreground-color));
}

.nav-links > button {
    display: none;
}

.open-nav-links {
    display: none;
}
/* END NAV */

/* ABOUT ME */
#about-me {
    position: relative;
    width: 100%;
    height: calc(100svh - var(--navbar-h));

    display: flex;
}

.container-grad-pic {
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: end;
}

.grad-pic {
    width: 80%;
    max-height: 95%;
    height: auto;
    object-fit: cover;

    box-shadow: 0 0 50px black;
}

.introduction {
    padding: 3em 1em;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introduction p {
    padding-right: 2em;
    letter-spacing: 0.1em;
    margin-top: 2em;
    height: 100%;
    line-height: 2em;
    text-align: justify;
}

.introduction h1 > span {
    font-weight: lighter;
    font-size: 0.5em;
}
/* END ABOUT ME */

/* GALLERY */
#gallery {
    width: 100%;
    height: 100svh;
}

#gallery .carousel,
#gallery .carousel-inner,
#gallery .carousel-item {
    height: 100% !important;
}

#gallery img {
    display: block;
    object-fit: cover;

    width: 100%;
    height: 100%;
}
/* END GALLERY */
/* PROJECTS */
#projects {
    width: 100%;
    height: 300px;

    padding: 1em;
}
/* END PROJECTS */


@media (max-width: 768px) {
    html, body {
        background-position: 0 0;
    }
    /* NAV */
    .open-nav-links {
        display: block;
        background-color: inherit;
        border: none;
        width: 18px;
        height: 18px;
        margin-left: auto;
    }

    .open-nav-links > img {
        width: inherit;
        height: inherit;
    }

    .nav-links {
        display: none;
    }

    .nav-links.modal.open {
        display: flex;
        background-color: rgba(0,0,0, 0.9);
        flex-direction: column;
        align-items: center;
        justify-content: center;

        z-index: 100;
        width: 100%;
        height: 100%;

        font-size: 1.5em;
    }

    .nav-links.modal.open > button {
        outline: none;
        background-color: inherit;
        border: none;

        display: block;
        position: absolute;

        top: 0.5em;
        right: 1em;
        width: 24px;
        height: 24px;
    }

    .nav-links.modal.open>button>img {
        width: inherit;
        height: inherit;
    }
    /* END NAV */

    /* ABOUT ME */
    #about-me {
        flex-direction: column;
        height: 100%;
    }

    .container-grad-pic {
        width: 100%;
        height: 10%;
        justify-content: center;
    }

    .grad-pic {
        width: 50%;
        height: auto;
    }

    .introduction {
        position: relative;
        padding: 0 3em 3em 3em;
    }

    .introduction p {
        padding-right: 0;
    }
    /* END ABOUT ME */
}