:root {
    --navbar-h: 50px;
    --footer-h: 128px;

    --accent: oklch(62.7% 0.265 303.9);

    /* --background-color: oklch(14.1% 0.005 285.823); */
    --background-color: oklch(14.5% 0 0);
    --background-lighter: oklch(43.9% 0 0);
    --foreground-color: oklch(98.5% 0 0);
    --foreground-gray: oklch(76.039% 0.00009 271.152);

    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

/* GLOBAL */
html, body {
    background-image: url("./assets/bg_tiled_y.png");
    background-size: cover;
    background-repeat: repeat-y;

    background-color: var(--background-color);
    color: var(--foreground-color);

    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    filter: brightness(0.7);
}

h1 {
    letter-spacing: 0.1em;
    font-size: 2.4em;
    font-weight: bold;
}

h2 {
    letter-spacing: 0.1em;
    font-size: 1.8em;
    font-weight: bold;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 1em;

    width: 38px;
    height: 38px;
    z-index: 49;

    background-color: rgba(0,0,0, 0.8);
    border-radius: 999px;
}

.back-to-top > img {
    width: inherit;
    height: inherit;
    padding: 4px;
}

.text-accent {
    color: var(--accent);
}

.text-background {
    color: var(--background-color);
}

.text-foreground {
    color: var(--foreground-color);
}

.text-center {
    text-align: center;
}

.full-size {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-v-center {
    align-items: center;
}

.flex-h-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.icon > img {
    width: inherit;
    height: inherit;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    background-color: inherit;
    color: inherit;
    padding: 0.3em 1em;
    border-radius: 0.3em;

    font-weight: 600;
}

button.accent {
    background-color: var(--accent);
}

button:hover {
    filter: brightness(1.3);
}
/* END GLOBAL */

/* NAV */
nav {
    height: var(--navbar-h);
    width: 100%;
    padding: .8em;
    display: flex;
    align-content: center;
}

.container-nav-name {
    display: flex;
    align-items: center;
    gap: 0.4em;
}

.container-nav-name > .small-circle {
    width: 10px;
    height: 10px;

    border-radius: 999px;
}

.container-nav-name > .orange {
    background-color: oklch(66.6% 0.179 58.318);
}

.container-nav-name > .red {
    background-color: oklch(57.7% 0.245 27.325);
}

.container-nav-name > .green {
    background-color: oklch(64.8% 0.2 131.684);
}

.nav-name {
    font-weight: thin;

    letter-spacing: .05em;
}

.nav-links {
    display: flex;

    margin-left: auto;
    gap: 2em;
}

.nav-links > a {
    color: var(--foreground-gray);
}

.nav-links > a:hover, .nav-links > a:active {
    color: var(--foreground-color);
    filter: drop-shadow(0 0 5px  var(--foreground-color));
}

.nav-links > button {
    display: none;
}

.open-nav-links {
    display: none;
}
/* END NAV */

/* ABOUT ME */
#about-me {
    position: relative;
    width: 100%;
    height: calc(100svh - var(--navbar-h));

    display: flex;
}

/* .container-grad-pic {
    width: 40%;

    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.grad-pic {
    width: 90%;
    max-height: 95%;
    height: auto;
    object-fit: cover;

    box-shadow: 0 0 50px black;
} */

.introduction {
    padding: 2em;
}

.introduction p {
    letter-spacing: 0.1em;
    margin-top: 2em;
    height: 100%;
    line-height: 2em;
    /* text-align: justify; */
}

.introduction h1 > .text-lighter {
    font-weight: lighter;
    font-size: 0.5em;
}

#about-me .graphics {
    width: 30%;
    position: relative;

    width: 100%;
    height: 100%;
}

.graphics > img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;

    object-fit: cover;
    border-radius: 1em;
    box-shadow: 0 0 10px black;
}

.graphics > img:first-child {
    transform: translate(-50%, -120%);

    z-index: 45;
}

.graphics > img:nth-child(2) {
    transform: translate(10%, -50%);

    z-index: 46;
}

.graphics > img:last-child {
    transform: translate(-60%, 10%);

    z-index: 47;
}

/* END ABOUT ME */

/* GALLERY */
#gallery {
    width: 100%;
    height: 100svh;
}

#gallery .carousel,
#gallery .carousel-inner,
#gallery .carousel-item {
    height: 100% !important;
}

#gallery img {
    display: block;
    object-fit: cover;

    width: 100%;
    height: 100%;
}
/* END GALLERY */

/* PROJECTS */
#projects {
    width: 100%;
    /* height: 500px; */

    padding: 1em;
}

.timeline {
    position: relative;
    width: 100%;
    height: 100%;
}

.vertical-line {
    position: absolute;
    width: 3px;
    height: 100%;

    top: 0;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--foreground-color);
}

.project-info {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 5% 1fr;
}

.timeline-circle {
    width: 24px;
    height: 24px;

    background-color: var(--foreground-color);
    border-radius: 999px;
}

.project-container-card {
    width: 100%;
    padding: 0.5em 3em 0.5em 3em;
}

.project-container-card.left,
.project-container-card.left > .project-card {
    margin-left: auto;
    padding-right: 0;
    text-align: right;
}

.project-container-card.right {
    padding-left: 0;
}

.project-card {
    width: max-content;
    min-width: 70%;
    height: 100%;

    border-radius: 0.2em;
    background-color: var(--foreground-color);
    color: var(--background-color);

    box-shadow: 0 0 10px black;
}

.project-container-card.left > .project-card {
    text-align: initial;
}

.project-card-img {
    width: 100%;
    height: 150px;
}

.project-card-img > img {
    width: inherit;
    height: inherit;
}

.project-card-content {
    padding: 0.5em 1em;
    font-weight: 600;
}

.project-card-content > p,
.project-card-content > ul {
    margin: 0;
}

.project-card-links {
    display: flex;
    justify-content: end;
    padding: 0 0.3em;
}

/* END PROJECTS */

/* CONTACT */
#contact {
    padding: 3em;
}

/* END CONTACT */

/* FOOTER */
footer {
    width: 100%;
    height: var(--footer-h);

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px) saturate(180%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

input.mform-control,
textarea.mform-control {
    outline: none;
    background-color: var(--background-color);
    color: inherit;
    padding: 0.3em 0.7em;
    border: 2px solid var(--background-lighter);
    border-radius: 0.5em;
}

textarea.mform-control:active,
textarea.mform-control:focus,
input.mform-control:active,
input.mform-control:focus {
    border-color: var(--accent);
}

div.mform-control {
    margin-bottom: 0.7em;
}

/* END FOOTER */


@media (max-width: 768px) {
    html, body {
        background-position: 0 0;
    }
    /* NAV */
    .open-nav-links {
        display: block;
        background-color: inherit;
        border: none;
        width: 18px;
        height: 18px;
        margin-left: auto;
    }

    .open-nav-links > img {
        width: inherit;
        height: inherit;
    }

    .nav-links {
        display: none;
    }

    .nav-links.modal.open {
        display: flex;
        background-color: rgba(0,0,0, 0.9);
        flex-direction: column;
        align-items: center;
        justify-content: center;

        z-index: 100;
        width: 100%;
        height: 100%;

        font-size: 1.5em;
    }

    .nav-links.modal.open > button {
        outline: none;
        background-color: inherit;
        border: none;

        display: block;
        position: absolute;

        top: 0.5em;
        right: 1em;
        width: 24px;
        height: 24px;
    }

    .nav-links.modal.open>button>img {
        width: inherit;
        height: inherit;
    }
    /* END NAV */

    /* ABOUT ME */
    #about-me {
        flex-direction: column;
        height: 100%;
    }

    .graphics {
        display: none;
    }

    /* .container-grad-pic {
        width: 100%;
        height: 10%;
        justify-content: center;
    }

    .grad-pic {
        width: 50%;
        height: auto;
    } */
    /* END ABOUT ME */
}